@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 500vh;
  font-family: "Instrument Serif";
}

.container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.79);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: lighter;
  line-height: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 500px;
  perspective: 1000px;
  cursor: pointer;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 3s infinite ease-in-out;
}

#card-1 .card-wrapper {
  animation-delay: 0;
}

#card-2 .card-wrapper {
  animation-delay: 0.2s;
}

#card-3 .card-wrapper {
  animation-delay: 0.4s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.8em;
  overflow: hidden;
}

.text-front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #1a1a1a;
}

#card-1 .text-front {
  background-color: #1a1a1a;
  color: #00dc89;
}

#card-2 .text-front {
  background-color: #1a1a1a;
  color: #9e5cf7;
}

#card-3 .text-front {
  background-color: #1a1a1a;
  color: #ff3c78;
}

.flip-card-back {
  padding: 0;
  background-color: transparent;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #000000;
  background-color: #ffffffe1;
  border-radius: 0.8em;
}

#card-1 .pricing-card {
  border: 2px solid #0f0;
}

#card-2 .pricing-card {
  border: 2px solid #99f;
}

#card-3 .pricing-card {
  border: 2px solid #f9f;
}

.price-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.pricing-card h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0.2rem;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  text-align: left;
  color: inherit;
}

#card-1 .pricing-card h3 {
  color: #0f0;
}

#card-2 .pricing-card h3 {
  color: #99f;
}

#card-3 .pricing-card h3 {
  color: #f9f;
}

#card-3 .flip-card-back {
  position: relative;
}

#card-3 .flip-card-back::after {
  content: 'Most Popular';
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(135deg, #f9f, #99f);
  color: #222;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  z-index: 10;
}

.pricing-card .period {
  font-size: 0.9rem;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

.pricing-card .description {
  font-size: 0.8rem;
  margin-top: 1rem;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  text-align: left;
}

.pricing-card .join-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  color: #fff;
  border: 1px solid #444;
}

#card-1 .pricing-card .join-button {
  border: 1px solid #0f0;
}

#card-2 .pricing-card .join-button {
  border: 1px solid #99f;
}

#card-3 .pricing-card .join-button {
  border: 1px solid #f9f;
}

.pricing-card .features {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.pricing-card .features li {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
}

.pricing-card .features li:before {
  content: '+';
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}

#card-1 .pricing-card .features li:before {
  color: #0f0;
}

#card-2 .pricing-card .features li:before {
  color: #99f;
}

#card-3 .pricing-card .features li:before {
  color: #f9f;
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.plan-title {
  margin-bottom: 1rem;
  text-align: center;
}

.plan-title h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.plan-subtitle {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  display: block;
}

.pricing-info {
  margin-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  position: relative;
}

.pricing-info::before {
  content: 'Current Price';
  display: block;
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: bold;
  position: relative;
}

.pricing-tiers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 5px 8px;
}

.price-tier {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  padding: 0 5px;
}

.price-tier.other .price-value,
.price-tier.other .price-range {
  opacity: 0.25;
}

.price-tier.current .price-value {
  opacity: 1;
  position: relative;
}

.price-tier.current .price-value::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white;
}

.price-value {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2px;
}

#card-1 .price-value {
  color: #0f0;
}

#card-2 .price-value {
  color: #99f;
}

#card-3 .price-value {
  color: #f9f;
}

.price-range {
  font-size: 0.7rem;
  opacity: 0.7;
  text-align: center;
  white-space: nowrap;
}

.pricing-header {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 20;
  margin-bottom: 2rem;
  padding-bottom: 30vh;
}

.pricing-header h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: lighter;
  margin-top: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.toggle-option {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.toggle-option.active {
  color: white;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  cursor: pointer;
  padding: 3px;
}

.toggle-button {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-button.monthly {
  transform: translateX(0);
}

.toggle-button.annual {
  transform: translateX(30px);
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
