@import url(" `https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap` ");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #141414;
}

.about {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  overflow: hidden;
}

.about-copy-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
}

.about-animation .about-copy-container {
  border: 0.15rem dashed rgb(60, 60, 60);
}

.about-animated-text {
  width: 60%;
}

.about-animated-text p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.about-animated-text .word {
  display: inline-block;
  position: relative;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.1rem 0.2rem;
  border-radius: 2rem;
  will-change: background-color, opacity;
  opacity: 0;
}

.about-animated-text .word.keyword-wrapper {
  margin: 0 0.4rem 0.2rem 0.2rem;
}

.about-animated-text .word span {
  position: relative;
  opacity: 0;
}

.about-animated-text .word span.keyword {
  border-radius: 2rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.1rem 0;
  color: #141414;
}

.about-animated-text .word span.keyword::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 1rem);
  height: calc(100% + 0.4rem);
  background-color: #fff;
  border-radius: 2rem;
  z-index: -1;
}

.about-animated-text .word span.keyword.vibrant::before,
.about-animated-text .word span.keyword.shape::before,
.about-animated-text .word span.keyword.interactive::before {
  background-color: #7a78ff;
}

.about-animated-text .word span.keyword.living::before,
.about-animated-text .word span.keyword.expression::before,
.about-animated-text .word span.keyword.storytelling::before {
  background-color: #fe6d38;
}

.about-animated-text .word span.keyword.clarity::before,
.about-animated-text .word span.keyword.intuitive::before,
.about-animated-text .word span.keyword.vision::before {
  background-color: #c6fe69;
}

@media (max-width: 1000px) {
  .about-animated-text {
    width: 90%;
  }

  .about-animated-text p {
    font-size: 1.25rem;
  }

  .about-animated-text .word {
    margin-right: 0.1rem;
    margin-bottom: 0.15rem;
    padding: 0.1rem 0.2rem;
  }

  .about-animated-text .word.keyword-wrapper {
    margin: 0 0.2rem 0.1rem 0.1rem;
  }
}

