.process-section { 
  position: relative; 
  width: 100vw; 
  height: 100vh; 
  padding: 2em; 
  overflow: hidden; 
  background-color: #141414; 
} 

.process-copy-wrapper { 
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  border-radius: 2rem; 
  border: 0.15rem dashed rgb(60, 60, 60); 
} 

.process-text-content { 
  width: 60%; 
} 

.process-text-content p { 
  color: #fff; 
  text-align: center; 
  margin-bottom: 2rem; 
  font-size: 2rem; 
  font-weight: 900; 
  line-height: 1.1; 
} 

.process-text-content .word { 
  display: inline-block; 
  position: relative; 
  margin-right: 0.2rem; 
  margin-bottom: 0.2rem; 
  padding: 0.1rem 0.2rem; 
  border-radius: 2rem; 
  will-change: background-color, opacity; 
  opacity: 0; 
} 

.process-text-content .word.keyword-wrapper { 
  margin: 0 0.4rem 0.2rem 0.2rem; 
} 

.process-text-content .word span { 
  position: relative; 
  opacity: 0; 
} 

.process-text-content .word span.keyword { 
  border-radius: 2rem; 
  display: inline-block; 
  padding: 0.1rem 0; 
  color: #141414; 
  z-index: 1; 
} 

.process-text-content .word span.keyword::before { 
  content: ""; 
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% + 1rem); 
  height: calc(100% + 0.4rem); 
  background-color: #fff; 
  border-radius: 2rem; 
  z-index: -1; 
} 

/* Specific Keyword Colors */ 
.process-text-content .word span.keyword.vibrant::before, 
.process-text-content .word span.keyword.shape::before, 
.process-text-content .word span.keyword.interactive::before { background-color: #7a78ff; } 

.process-text-content .word span.keyword.living::before, 
.process-text-content .word span.keyword.expression::before, 
.process-text-content .word span.keyword.storytelling::before { background-color: #fe6d38; } 

.process-text-content .word span.keyword.clarity::before, 
.process-text-content .word span.keyword.intuitive::before, 
.process-text-content .word span.keyword.vision::before { background-color: #c6fe69; } 

@media (max-width: 1000px) { 
  .process-text-content { width: 90%; } 
  .process-text-content p { font-size: 1.25rem; } 
}